body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em; /* adds space between h1 and the input boxes */
  }
  
  input[type="color"],
  input[type="number"],
  select {
    border-radius: 5px; /* smoothing the borders */
    margin: 0 5px; /* adds space between the boxes */
  }